#all {
    width: 700px;
    height: 1200px;
    margin: auto;
}

#dong1 {
    width: 300px;
    height: 400px;
    margin-left: 200px;
}
#dong2 {
    width: 500px;
    height: 400px;
    margin-left: 100px;
}
#dong3 {
    width: 700px;
    height: 400px;
}
#do1 {
    width: 100%;
    height: 100px;
    background: red;
}

#cotxam {
    width: 100px;
    height: 300px;
    background: grey;
    float: left;
}
#cotxam2 {
    width: 100px;
    height: 300px;
    background: grey;
    float: right;

}